{% extends "base.html" %}
{% block body %}

<h2 class="heading">Accounts</h2>

<div id="messages"></div>

<div id="accordion">
  <h3>User Account</h3>

  {% if not row %}
  <div>
      <p>Dude! Where's the record! Trying logging out and in again.</p>
  </div>
  {% else %}
  <div>
     <div class="row">
       <div class="cell-left">
         <div class="cell-row">
           <div class="cell">
                User Details
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Name</div>
                    <div class="subcell-data">{{ row.name }}</div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Username</div>
                    <div class="subcell-data">{{ row.username }}</div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Password</div>
                    <div class="subcell-data"><a href="#">Change Password</a></div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Email</div>
                    <div class="subcell-data">{{ row.email }}</div>
               </div>
           </div>
         </div>   
       </div>
       <div class="cell-right">
         <div class="cell-row">
           <div class="cell">
                Permissions
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Territories</div>
                    <div class="subcell-data">
                        {% for t in row.territories %}
                            {% if t.access %}
                        <button class="ui-corner-all ui-state-active" onclick="toggleTerritory(this)">{{ t.name }}</button>
                            {% else %}
                        <button onclick="toggleTerritory(this)">{{ t.name }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Last Login</div>
                    <div class="subcell-data">{{ row.last_login }}</div>
               </div>
           </div>
         </div>
       </div>       
     </div>
  </div>

  {% endif %}
</div>

<script>
    function toggleTerritory($el) {
        var postdata = {
            personid:{{ row.personid }},
            action: '',
            territory:$($el).text()
        };
        
        var classNameUndo = 'ui-corner-all ui-state-active';
        
        if (!$($el).attr('class')) {
            // Enable territory
            classNameUndo = '';
            $($el).attr('class', 'ui-corner-all ui-state-active');
            postdata.action = 'add';
        } else {
            // Disable territory
            classNameUndo = 'ui-corner-all ui-state-active';
            $($el).attr('class', '');
            postdata.action = 'remove';
        }

        var request = $.ajax({
          type: 'POST',
          url: '/rest/v1.0/territory',
          data: JSON.stringify(postdata),
          contentType:"application/json",
          dataType: "json",
          success: function(data) {
            if(data.response=='Failed') {
                console.log(data.error);
                var $message = $('#messages');
                $message.text(data.error);
                $message.attr('class', 'ui-state-error ui-corner-all');
                $message.show().fadeOut(2000);
                $($el).attr('class', classNameUndo);
            }
          }
        });  
    }
</script>

{% endblock %}

