{% extends "base.html" %}
{% block body %}

<h2 class="heading">Accounts</h2>

<div id="messages"></div>

<div id="accordion">
  <h3>User Account</h3>

  {% if not row %}
  <div>
      <p>Dude! Where's the record! Trying logging out and in again.</p>
  </div>
  {% else %}
  <div>
     <div class="row">
       <div class="cell-left">
         <div class="cell-row">
           <div class="cell">
                User Details
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Name</div>
                    <div class="subcell-data">{{ row.name }}</div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Username</div>
                    <div class="subcell-data">{{ row.username }}</div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Password</div>
                    {% if row.username == session.username %}
                    <div class="subcell-data"><a href="#" onclick="showDialog()">Change Password</a></div>
                    {% else %}
                    <div class="subcell-data"><a href="#" onclick="showDialog()">Reset Password</a></div>                    
                    {% endif %}
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Email</div>
                    <div class="subcell-data">{{ row.email }}</div>
               </div>
           </div>
         </div>   
       </div>
       <div class="cell-right">
         <div class="cell-row">
           <div class="cell">
                Permissions
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Territories</div>
                    <div class="subcell-data">
                        {% for t in row.territories %}
                            {% if t.access %}
                        <button class="ui-corner-all ui-state-active" onclick="toggleTerritory(this)">{{ t.name }}</button>
                            {% else %}
                        <button onclick="toggleTerritory(this)">{{ t.name }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Role</div>
                    <div class="subcell-data">
                        {% if row.role == 'Standard' %}
                        <button id="roleStandard" class="ui-corner-all ui-state-active">Standard</button>
                        <button id="roleAdmin" onclick="toggleRole(this)">Admin</button>
                        {% else %}
                        <button id="roleStandard" onclick="toggleRole(this)">Standard</button>
                        <button id="roleAdmin" class="ui-corner-all ui-state-active">Admin</button>
                        {% endif %}
                    </div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Partner Access</div>
                    <div class="subcell-data">
                        {% if row.partner_access == 1 %}
                        <button class="ui-corner-all ui-state-default" onclick="adminTogglePartner(this, 'rw', {{ row.personid }})">Contact-Only</button>
                        {% elif row.partner_access == 2 %}
                        <button class="ui-corner-all ui-state-active" onclick="adminTogglePartner(this, 'off', {{ row.personid }})">Manage</button>
                        {% else %}
                        <button onclick="adminTogglePartner(this, 'ro', {{ row.personid }})">None</button>
                        {% endif %}
                    </div>
               </div>
           </div>           
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Key Leader Access</div>
                    <div class="subcell-data">
                        {% if row.keyleader_access == 1 %}
                        <button class="ui-corner-all ui-state-default" onclick="adminToggleKeyLeader(this, 'rw', {{ row.personid }})">Contact-Only</button>
                        {% elif row.keyleader_access == 2 %}
                        <button class="ui-corner-all ui-state-active" onclick="adminToggleKeyLeader(this, 'off', {{ row.personid }})">Manage</button>
                        {% else %}
                        <button onclick="adminToggleKeyLeader(this, 'ro', {{ row.personid }})">None</button>
                        {% endif %}
                    </div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Last Login</div>
                    <div class="subcell-data">{{ row.last_login }}</div>
               </div>
           </div>
         </div>
       </div>       
     </div>
  </div>
</div>

<br />
<div id="accordion1">
    <h3>Team Serving Management</h3>
   
    <div>
        <div class="row">
            <p class="label">Select the teams that {{ row.firstname }} is allowed to <span class="ui-state-default">contact</span> and/or <span class="ui-state-active">manage</span>. Admin users can manage all team memberships.</p>
            {% for r in ug %}
                {% if r.contact_only %}
                <button class="ui-corner-all ui-state-default" onclick="toggleServing(this, 'off')">{{ r.name.replace('&&','&') }}</button>
                {% else %}
                <button class="ui-corner-all ui-state-active" onclick="toggleServing(this, 'ro')">{{ r.name.replace('&&','&') }}</button>
                {% endif %}
            {% endfor %}
            {% if ug and groups %}
                <br />
            {% endif %}
            {% for r in groups %}
                <button onclick="toggleServing(this, 'rw')">{{ r.name.replace('&&','&') }}</button>
            {% endfor %}            
        </div>
    </div>
</div>

<script>
    function toggleServing(el, nextState) {
        var groupName = $(el).text();
    
        var postdata = {
            personid:{{ row.personid }},
            action: '',
            group:$(el).text()
        };
        
        var classNameUndo;
        
        if (nextState == 'rw') {
            // Enable manage rights to team-serving
            classNameUndo = '';
            $(el).attr('class', 'ui-corner-all ui-state-active');
            postdata.action = 'add';
        } else if (nextState == 'ro') {
            // Enable view rights to team-serving
            classNameUndo = 'ui-corner-all ui-state-active';
            $(el).attr('class', 'ui-corner-all ui-state-default');
            postdata.action = 'update';
        } else {
            // Disable rights to team-serving
            classNameUndo = 'ui-corner-all ui-state-default';
            $(el).attr('class', '');
            postdata.action = 'remove';
        }
        
        console.log(postdata);
        $( "#progressbar" ).show();
        
        var request = $.ajax({
          type: 'POST',
          url: '/rest/v1.0/user_group',
          data: JSON.stringify(postdata),
          contentType:"application/json",
          dataType: "json",
          success: function(data) {
            if(data.response=='Failed') {
                console.log(data.error);
                var $message = $('#messages');
                $message.text(data.error);
                $message.attr('class', 'ui-state-error ui-corner-all');
                $message.show().fadeOut(2000);
                $(el).attr('class', classNameUndo);
            } else {
                document.location.href = '/accounts/{{ row.personid }}';
                $( "#progressbar" ).hide();
            }
          }
        });  

    }
</script>




{% if row.username == session.username %}
<!-- Change Password -->
<div id="dialog-form" title="Change Password">
  <p class="validateTips">Change the password for your account.</p>
  <br />
  <div id="d-message" class="ui-state-error ui-corner-all"></div>
 
  <form>
  <fieldset>
    <input type="hidden" name="personid" id="d-personid" value="{{ row.personid }}" />
    <input type="hidden" name="username" id="d-username" value="{{ row.username }}" />
    <label for="d-password1">New Password</label>
    <input type="password" name="password1" id="d-password1" class="text ui-widget-content ui-corner-all" size="40" maxlength="40" />
    <label for="d-password2">Confirm Password</label>
    <input type="password" name="password2" id="d-password2" class="text ui-widget-content ui-corner-all" size="40" maxlength="40" />
  </fieldset>
  </form>
</div>

<script>
    var message = $('#d-message');
    $('#dialog-form').dialog({
        autoOpen: false,
        height: 400,
        width: 400,
        modal: true,
        buttons: {
            "Reset Password": function() {
                var personid = $('#d-personid').val();
                var username = $('#d-username').val();
                var password = $('#d-password1').val();
                if (!password) {
                    message.text('Please enter a password.');
                    message.fadeIn();
                    return;
                }
                if (password != $('#d-password2').val()) {
                    message.text('The passwords must match.');
                    message.fadeIn();
                    return;
                }
                
                var postdata = {
                    personid: personid,
                    username: username,
                    password: password
                };
            
                // Check that the username is valid
                var request = $.ajax({
                  type: 'POST',
                  url: '/rest/v1.0/save_password',
                  data: JSON.stringify(postdata),
                  contentType:"application/json",
                  dataType: "json",
                  success: function(data) {
                    if (data.response) {
                        document.location.href = '/accounts/' + personid;
                    } else {
                        if (response.message) {
                            message.text( response.message );
                        } else {
                            message.text('Error resetting the password. Please check the Username.');
                        }
                        message.fadeIn();
                    }
                  },
                  error: function(e) {
                      message.text(e);
                  }
                });  
                
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }         
        },
        close: function() {
          //allFields.val( "" ).removeClass( "ui-state-error" );
        }
    });

</script>
<!-- //Change Password -->

{% else %}
<!-- Reset Password -->
<div id="dialog-form" title="Reset Password">
  <p class="validateTips">Confirm that you want to reset the password for {{ row.name }}.</p>

  <br />
  <div id="d-message" class="ui-state-error ui-corner-all"></div>
 
  <form>
  <fieldset>
    <input type="hidden" name="personid" id="d-personid" value="{{ row.personid }}" />
    <label for="d-username">Username</label>
    <input type="text" name="username" id="d-username" value="{{ row.username }}" readonly="readonly" class="text ui-widget-content ui-corner-all" size="40" maxlength="40" />
  </fieldset>
  </form>
  <p>This will send an Email to the user with the reset instructions.</p>
</div>

<script>
    var message = $('#d-message');
    $('#dialog-form').dialog({
      autoOpen: false,
      height: 400,
      width: 400,
      modal: true,
      buttons: {
        "Reset Password": function() {
            var personid = $('#d-personid').val();
        
            var postdata = {
                username: $('#d-username').val()
            };
            
            // Check that the username is valid
            var request = $.ajax({
              type: 'POST',
              url: '/rest/v1.0/reset',
              data: JSON.stringify(postdata),
              contentType:"application/json",
              dataType: "json",
              success: function(data) {
                if (data.response) {
                    document.location.href = '/accounts/' + personid;
                } else {
                    if (response.message) {
                        message.text( response.message );
                    } else {
                        message.text('Error resetting the password. Please check the Username.');
                    }
                    message.fadeIn();
                }
              },
              error: function(e) {
                  message.text(e);
              }
            });  
            
            
        },
        Cancel: function() {
            $( this ).dialog( "close" );
        }
      },
      close: function() {
        //allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });

</script>
<!-- //Reset Password -->

{% endif %}

  {% endif %}


<script>
    function toggleTerritory($el) {
        var postdata = {
            personid:{{ row.personid }},
            action: '',
            territory:$($el).text()
        };
        
        var classNameUndo = 'ui-corner-all ui-state-active';
        
        if (!$($el).attr('class')) {
            // Enable territory
            classNameUndo = '';
            $($el).attr('class', 'ui-corner-all ui-state-active');
            postdata.action = 'add';
        } else {
            // Disable territory
            classNameUndo = 'ui-corner-all ui-state-active';
            $($el).attr('class', '');
            postdata.action = 'remove';
        }

        var request = $.ajax({
          type: 'POST',
          url: '/rest/v1.0/territory',
          data: JSON.stringify(postdata),
          contentType:"application/json",
          dataType: "json",
          success: function(data) {
            if(data.response=='Failed') {
                console.log(data.error);
                var $message = $('#messages');
                $message.text(data.error);
                $message.attr('class', 'ui-state-error ui-corner-all');
                $message.show().fadeOut(2000);
                $($el).attr('class', classNameUndo);
            }
          }
        });  
    }
    
    function toggleRole($el) {
        // Which role got clicked?
        // (only the inactive role is clickable, so this is being made active)
        var role = $($el).text();        
        var postdata = {
            personid:{{ row.personid }},
            role: role
        };
        $( "#progressbar" ).show();

        var request = $.ajax({
          type: 'POST',
          url: '/rest/v1.0/role',
          data: JSON.stringify(postdata),
          contentType:"application/json",
          dataType: "json",
          success: function(data) {
            if(data.response=='Failed') {
                console.log(data.error);
                var $message = $('#messages');
                $message.text(data.error);
                $message.attr('class', 'ui-state-error ui-corner-all');
                $message.show().fadeOut(2000);
                $($el).attr('class', '');
            } else {
                document.location.href = '/accounts/{{ row.personid }}';
                $( "#progressbar" ).hide();
            }
          }
        });  
        
        
    }
        
    function showDialog() {
        $('#d-message').hide();
        $( "#dialog-form" ).dialog( "open" );        
    }
</script>

{% endblock %}

