{% extends "base.html" %}
{% block body %}

<h2 class="heading">User Accounts</h2>

<button id="create-user" onclick="newUserAccount()">Create User Account</button>

<div id="accordion">
  <h3>Users</h3>

  <div>  
  {% if not rows %}
    <p>No records found.</p>
  {% else %}
    <table class="grid">
    <tr>
        <th>Name</th><th>Username</th><th>Role</th><th>Territories</th><th>Last Login</th>
    {% for r in rows %}
        <tr>
            <td><a href="/accounts/{{ r.personid }}">{{ r.name }}</a></td>
            <td>{{ r.username }}</td>
            <td>{{ r.role }}</td>
            <td>{{ r.access }}</td>
            <td>{{ r.last_login }}</td>
        </tr>
    {% endfor %}
    </table>
  {% endif %}
  </div>
</div>

<script>
    $( document ).ready(function() {
        // Select the page in the radio button
        $( "#r-admin" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");
        $('#create-user').button();       
    });
    
    function newUserAccount() {
        document.location.href='/accounts/new/';
    }
    
    
    
</script>


{% endblock %}
