<!DOCTYPE html>
<html>
<head>
    <title>Lifechurch Portal</title>
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/app.js"></script>
    <link href="/static/css/cupertino/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="/static/css/portal.css" rel="stylesheet">
    <meta name="{{ env.TINFOIL_NAME }}" content="{{ env.TINFOIL_CONTENT }}" />

    <script>
      $(function() {
        $( "#accordion" ).accordion();
        $( "#accordion1" ).accordion({heightStyle: "content"});
        $( "#accordion2" ).accordion({heightStyle: "content"});
        $( "#radio" ).buttonset();
        $( "#progressbar" ).progressbar({
            value: false
        });
        $( "#progressbar" ).hide();
        $( "#r-people" ).click( function() {
            document.location.href = '/people/';          
        });
        $( "#r-contact" ).click( function() {
            document.location.href = '/contact/';          
        });
        $( "#r-events" ).click( function() {
            document.location.href = '/events/';          
        });
        $( "#r-kidswork" ).click( function() {
            document.location.href = '/kidswork/';          
        });
        $( "#r-settings" ).click( function() {
            document.location.href = '/settings/';
        });        
        $( "#r-admin" ).click( function() {
            document.location.href = '/accounts/';
        }); 
        $( "#r-logout" ).click( function() {
            document.location.href = '/logout/';
        });
      });
    </script>

</head>
<body>

    <nav id="main" class="banner">

        <h1>Lifechurch Portal</h1>

        <div class="row">
            {% if session.username %}
            <span class="cell-left">   
                  <div id="radio" class="menu-top">
                    <input type="radio" id="r-people" name="radio" /><label for="r-people">People</label>
                    {% if session.role=='Admin' or session.groups %}
                    <input type="radio" id="r-contact" name="radio" /><label for="r-contact">Contact</label>
                    {% endif %}
                    {% if session.permissions.event > 0 %}
                    <input type="radio" id="r-events" name="radio" /><label for="r-events">Events</label>
                    {% endif %}
                    {% if 'Kidswork' in session.access %}
                    <input type="radio" id="r-kidswork" name="radio" /><label for="r-kidswork">Kidswork</label>
                    {% endif %}
                    {% if session.role=='Admin' %}
                    <input type="radio" id="r-admin" name="radio" /><label for="r-admin">User Accounts</label>
                    {% endif %}
                    <input type="radio" id="r-settings" name="radio" /><label for="r-settings">My Account</label>
                    <input type="radio" id="r-logout" name="radio" /><label for="r-logout">Logout</label>
                  </div>
            </span>        

            <span class="cell-right">
                 <form id="searchform" method="post" action="/people/" class="searchform">
                     <button type="submit" class="icon-search">
                     </button>
                     <label>
                         <input id="search" type="text" name="search" value="" placeholder="Search" maxlength="100" />
                     </label>
                 </form>
            </span>
            {% endif %}
        </div>

    </nav>

<div class="page">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flashed" class="ui-state-highlight ui-corner-all">
        {% for message in messages %}
          {{ message }}<br />
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div id="progressbar"></div>
    <div id="messages"></div>
    {% block body %}{% endblock %}
</div>

</body>
</html>
