{% extends "base.html" %}
{% block body %}

<h2 class="heading">Contact</h2>

<div id="accordion1">
  <h3>Select the Groups to be Contacted</h3>

  <div id="c-groups">
    {% if session.permissions.partner or session.permissions.key_leader %}      
        {% if session.permissions.partner %}
            <button onclick="contactToggleFilter(this)" id="partner">Partners</button>
        {% endif %}
        {% if session.permissions.key_leader %}
            <button onclick="contactToggleFilter(this)" id="keyleader">Key Leaders</button>
        {% endif %}        
      <hr />
    {% endif %}
    {% for g in groups %}
      <button onclick="contactToggleServing(this)">{{ g }}</button>
    {% endfor %}
  </div>
</div>

<br />

<div id="accordion">
  <h3>Email People</h3>

  <div id="c-email-container">
    <span class="label">Email addresses of the people in the selected groups. Copy and paste the list into the 'BCC' field of your Email program.</span>
    <span id="c-email"></span>
  </div>


  <h3>People in Group</h3>

  <div id="c-people">
  </div>
</div>

<script>
    var groups = [];
    var fields = [];
    $( document ).ready(function() {
        // Select the page in the radio button
        $( "#r-contact" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");
    });
    

    
</script>

{% endblock %}
