{% extends "base.html" %}
{% block body %}

<table id="a-heading">
    <tr>
        <td>
          <h2 class="heading">{{ event.Name }}</h2>
        </td>
        <td>
          <div id="a-people-attendee-count" onclick="registrationRegisteredCount('{{ event.Id }}')"></div>
        </td>
    </tr>
</table>

<div class="row">
   <div id="event_detail" class="cell-row">
      <div class="subcell-label">
           <label for="event_date">Event Date</label>
      </div>
      <div class="subcell-data">
           <input type="text" id="event_date" value="{{ event_date }}" readonly="readonly" onchange="registrationRegisteredCount('{{ event.Id }}')" />
      </div>
   </div>
</div>

<div class="row">
   <div id="statuses" class="cell-row">
      <div class="subcell-label">
           <label for="statuses">Registration Status</label>
      </div>
      <div class="subcell-data">
      {% for s in statuses %}
      <input type="radio" id="{{ s.replace(' ','') }}" name="statuses" /><label for="{{ s.replace(' ','') }}">{{ s }}</label>
      {% endfor %}
      </div>
   </div>
</div>

<br />

<div id="accordion1">
  <h3>Select People</h3>
  <div id="a-find-people">
        <form method="POST" id="find_person">
            <input type="hidden" name="event_id" value="{{ event.Id }}" id="event_id" />
            <input type="text" name="search" value="" placeholder="Find Person" id="find_name" size="40" class="ui-corner-all" />
        </form>
        <div id="a-people">
        </div>
  </div>

  <h3>Registered <button id="a-refresh" onclick="registrationRegistered('{{ event.Id }}')">Refresh</button></h3>
  <div id="a-attendees">
        <div id="a-people-attendees">
        </div>
  </div>
</div>

<script>
    $( document ).ready(function() {
        //registrationRegistered('{{ event.Id }}');
        registrationRegisteredCount('{{ event.Id }}');

        // Select the page in the radio button
        $( "#r-events" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");

        var statuses = $( "#statuses" );
        statuses.buttonset();
        $( "#Attended" )[0].checked = true;
        statuses.buttonset("refresh");
        $( "#event_date").datepicker({dateFormat: "yy-mm-dd"});

        // Decorate the buttons
        $( ".a-remove" ).button({icons: {primary: 'ui-icon-circle-close'}, text: false});
        $( "#a-refresh" ).button({icons: {primary: 'ui-icon-refresh'}, text: false});

        registrationStatus();

        // Handle the search form
        $('#find_name').keypress(function (e) {
            if (e.which == 13) {
              var find_this = $(this).val();
              registrationFindPerson(find_this);
              return false;
            }
        });
    });

</script>

{% endblock %}
