{% extends "base.html" %}
{% block body %}

<table id="a-heading">
    <tr>
        <td>
          <h2 class="heading">{{ event.Name }} on {{ event_date }}</h2>
        </td>
        <td>
          <div id="a-people-attendee-count" onclick="registrationRegisteredCount('{{ event.Id }}')"></div>
        </td>
    </tr>
</table>

<div id="accordion1">
  <h3>Select People</h3>

  <div id="a-find-people">
        <form method="POST" id="find_person">
            <input type="hidden" name="event_id" value="{{ event.Id }}" id="event_id" />
            <input type="text" name="search" value="" placeholder="Find Person" id="find_name" size="40" class="ui-corner-all" />
        </form>
        <div id="a-people">
        </div>
  </div>
<!-- /div>

<div id="accordion2" -->
  <h3>Registered <button id="a-refresh" onclick="registrationRegistered('{{ event.Id }}')">Refresh</button></h3>

  <div id="a-attendees">
        <div id="a-people-attendees">
        </div>
  </div>
</div>

<script>
    $( document ).ready(function() {
        //registrationRegistered('{{ event.Id }}');
        registrationRegisteredCount('{{ event.Id }}');

        // Select the page in the radio button
        $( "#r-events" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");

        // Decorate the buttons
        $( ".a-remove" ).button({icons: {primary: 'ui-icon-circle-close'}, text: false});
        $( "#a-refresh" ).button({icons: {primary: 'ui-icon-refresh'}, text: false});

        // Handle the search form
        $('#find_name').keypress(function (e) {
            if (e.which == 13) {
              var find_this = $(this).val();
              registrationFindPerson(find_this);
              return false;
            }
        });
    });

</script>

{% endblock %}
