{% extends "base.html" %}
{% block body %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(drawVisualization);

	function drawVisualization() {
		var data = google.visualization.arrayToDataTable(
			{{ report|tojson|safe }}
		);

		var options = {
		  title : 'Event Summary',
		  vAxis: {title: "Attendees"},
		  hAxis: {title: "Date"},
		  seriesType: "bars",
		  series: { {{ total_index }}: {type: "line"}}
		};

		var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>

<h2 class="heading">Kidswork</h2>

<div id="chart_div"></div>


<div id="accordion">
	<h3>Events Registrations</h3>

 	<div>
	  {% if not events %}
		<p>No events found.</p>
	  {% else %}

	  	<form id="kids_events" action="/kidswork/" method="POST">
	  		<select name="event_id" id="event_id" onchange="this.form.submit()">
	  			{% for e in events %}
	  			<option value="{{ e.event_id }}" {% if event_id==e.event_id %}selected{% endif %}>{{ e.name }}</option>
	  			{% endfor %}
	  		</select>
	  	</form>

	    <table class="grid">
	    <tr>
	        <th>Event Name</th><th>Date</th><th>Name</th><th>Tag Number</th><th>Group</th><th>School Year</th><th>Parents</th><th>Status</th>
	    </tr>
	    {% for r in registrations %}
	    <tr>
	    	<td>{{ r.name }}</td>
	    	<td>{{ r.event_date }}</td>
	    	<td><a href="/people/{{ r.personid }}">{{ r.person_name }}</a></td>
	    	<td>{{ r.tagnumber }}</td>
	    	<td>{{ r.kids_group }}</td>
	    	<td>{{ r.school_year }}</td>
	    	<td>{{ r.parent }}</td>
	    	<td>{{ r.status }}</td>
	    </tr>
	    {% endfor %}
	    </table>
	  {% endif %}
   	</div>
</div>

<script>
    $( document ).ready(function() {
        // Select the page in the radio button
        $( "#r-kidswork" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");
    });
</script>

{% endblock %}
