{% extends "base.html" %}
{% block body %}

<h2 class="heading">People</h2>

<div>
    <form method="POST" action="/people/" id="find_person">
        <input type="text" name="search" value="" placeholder="Find Person" id="find_name" size="40" class="ui-corner-all" />
    </form>
</div>
<br />

<div id="accordion">
  <h3>Search results</h3>

  <div>  
  {% if not rows %}
    <p>No records found. Use the search box to find people by name.</p>
  {% else %}
    <table class="grid">
    <tr>
        <th>Name</th><th>Type</th><th>Territory</th><th>Email</th><th>Home Phone</th><th>Mobile Phone</th>
    </tr>
    {% for r in rows %}
        <tr>
            <td><a href="/people/{{ r.personid }}">{{ r.name }}</a></td>
            <td>{{ r.type }}</td>
            <td>{{ r.territory }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.home_phone }}</td>
            <td>{{ r.mobile_phone }}</td>
        </tr>
    {% endfor %}
    </table>
  {% endif %}
  </div>
</div>

<script>
    $( document ).ready(function() {
        // Select the page in the radio button
        $( "#r-people" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");
    });
</script>

{% endblock %}
