{% extends "base.html" %}
{% block body %}

<h2 class="heading">People</h2>

<div class="row">
    <div class="cell-left">
        <form method="POST" action="/people/" id="find_person">
            <input type="text" name="search" value="" placeholder="Find Person" id="find_name" size="40" class="ui-corner-all" />
        </form>
    </div>
    {% if 'Kidswork' in session.access %}
    <div class="cell-right">
        <form method="POST" action="/people/tag" id="find_tag_c">
            <input type="text" name="child" value="" placeholder="Find Child Tag Number" id="find_tag_child" size="40" class="ui-corner-all" />
        </form>
        <form method="POST" action="/people/tag" id="find_tag_f">
            <input type="text" name="family" value="" placeholder="Find Family Tag Number" id="find_tag_family" size="40" class="ui-corner-all" />
        </form>
    </div>
    {% endif %}
</div>

<br />

<div id="accordion">
  <h3>Search results</h3>

  <div>  
  {% if not rows %}
    <p>No records found. Use the search box to find people by name.</p>
  {% else %}
    <div>
        <form method="POST" action="/people/" id="find_person">
            <input type="hidden" name="search" value="{{ search }}" />
            <input type="hidden" name="person_stack" value="{{ person_stack }}" />
            <input type="hidden" name="next_person" value="{{ next_person }}" />
            <button name="direction" value="back">&lt;</button>
            <button name="direction" value="forward">&gt;</button>
        </form>
    </div>
    <table class="grid">
    <tr>
        <th>Name</th><th>Type</th><th>Territory</th><th>Email</th><th>Home Phone</th><th>Mobile Phone</th>
    </tr>
    {% for r in rows %}
        <tr>
            <td><a href="/people/{{ r.personid }}">{{ r.name }}</a></td>
            <td>{{ r.type }}</td>
            <td>{{ r.territory }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.home_phone }}</td>
            <td>{{ r.mobile_phone }}</td>
        </tr>
    {% endfor %}
    </table>
  {% endif %}
  </div>
</div>

<script>
    $( document ).ready(function() {
        // Select the page in the radio button
        $( "#r-people" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");
    });
</script>

{% endblock %}
