{% extends "base.html" %}
{% block body %}

<!--h2 class="heading">Reset Password</h2-->

<div id="messages"></div>

<br />
<div id="accordion">
  <h3>Reset Password</h3>
  
  <div>
    <div class="row">
        {% if error %}
            <span class="ui-state-error">{{ error }}</span>
        {% endif %}    
        <form method="POST" id="reset_password">
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Username</div>
                    <div class="subcell-data">
                        <input type="text" name="username" id="username" placeholder="Username" value="{{ form.username.data }}" />
                            {% if form and form.username.errors %}
                                <span class="ui-state-error">{{ form.username.errors[0] }}</span>
                            {% endif %}                        
                    </div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Password</div>
                    <div class="subcell-data">
                        <input type="password" name="password1" id="password1" placeholder="Password" value="{{ form.password1.data }}" />
                            {% if form and form.password1.errors %}
                                <span class="ui-state-error">{{ form.password1.errors[0] }}</span>
                            {% endif %}
                    </div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label">Confirm Password</div>
                    <div class="subcell-data">
                        <input type="password" name="password2" id="password2" placeholder="Confirm Password" value="{{ form.password2.data }}" />
                            {% if form and form.password2.errors %}
                                <span class="ui-state-error">{{ form.password2.errors[0] }}</span>
                            {% endif %}
                    </div>
               </div>
           </div>
           <div class="cell-data">
               <div class="subcell">
                    <div class="subcell-label"></div>
                    <div class="subcell-data">
                        <button id="submit">Submit</button>
                        <input type="hidden" name="personid" id="personid" placeholder="Person ID" value="{{ row.personid }}" />
                        <input type="hidden" name="reset" id="reset" placeholder="Reset Code" value="{{ row.reset }}" /></div>
               </div>
           </div>
            
        </form>
  
    </div>   
  </div>
  
</div>

<script>     
    $('#submit').button();       
</script>

{% endblock %}
